.delivery-order-list-container {
  padding: 20px;
}

.add-vehicle-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}
